# .gitignore

# Node modules 
node_modules/

# Archivos SCSS compilados
assets/css/*.css.map

# Caché de Sass
.sass-cache/

# Archivos del sistema
.DS_Store
Thumbs.db

# Otras carpetas de build
dist/
build/
