
// Paleta de 5 colores principales
$color-primary: #2A2B2B;    // stiletto
$color-secondary: #332222; // wet-planks
$color-accent: #4D1A1A;    // dark-red
$color-highlight: #661111; // brick-red
$color-contrast: #800909;  // jarrch

// Colores neutrales
$color-bg: #f5f5f5;        // fondo-secundario
$color-white: #ffffff;
$color-black: #000000;

// Tipografía
$font-body: 'Arial', sans-serif;
$base-font-size: 16px;
